@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

*
{
    box-sizing: border-box;
}

body
{
    background: linear-gradient(to left, #2c3333 78%, #e7f6f2 40%);
    overflow-x: hidden;
    margin: 0;
    color: #ededed; 
    font-family: "Poppins", sans-serif;
}

.main
{
    background-color: #2c3333;
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 80px;
}

.main.show-nav
{
    transform: rotate(-20deg);
}

.main .circleMain
{
    position: fixed;
    top: -100px;
    left: -100px;
}

.main .circleMain .circle
{
    background: #dddddd;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
}

.main.show-nav .circle
{
    transform: rotate(-70deg);
}

.main .circleMain .circle button
{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: #2c3333;
}

.main .circleMain .circle button:focus
{
    outline: none;
}

.main .circleMain .circle button#open
{
    left: 60%;
}

.main .circleMain .circle button#close
{
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}

.main.main.show-nav + nav li
{
    transform: translateX(0);
    transition-delay: 0.3s;
}

nav
{
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
}

nav ul
{
    list-style-type: none;
    padding-left: 30px;
}

nav ul li
{
    text-transform: uppercase;
    margin: 40px 0 ;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
    color: #2c3333;
    cursor: pointer;
}

nav ul li i
{
    font-size: 20px;
    margin-right: 10px;
}

nav ul li + li
{
    margin-left: 15px;
    transform: translateX(-150%);
}

nav ul li + li + li
{
    margin-left: 30px;
    transform: translateX(-200%);
} 

.main img
{
    max-width: 100%;
}

.page
{
    max-width: 1000px;
    margin: 50px auto;
    z-index: 100;
}

.page h1
{
    margin: 0;
    font-size: 2.5rem;
}

.page .mname
{
    font-style: italic;
    margin-top: 5px;
}

.page p
{
    line-height: 1.5;
}

